#services {
  background-color: white;
}

#contact {
  background-color: white;
}


body {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url("header.jpg");
  text-align: center;
  color: white;
}

